body{
    margin: 0;
    background-color: rgba(234,231,220,0.99);

}
.allElement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Calibri, "sans-serif" ;
    box-sizing: border-box;

    background-color: rgba(234,231,220,0.99);
}
.market{
    min-width: 220px;
    width: calc(100% - 230px);
}
.basket{
    width: 230px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
}
.pizzaList img{

    width: 145px;

    height:145px;
}
.listItem img{
    width: 50px;
    height: 50px;
}
.sizing img{
    width: 10px;
    height: 10px;
}
.sizingBought img{
    width: 10px;
    height: 10px;

}
.menu{
    /*min-width: 220px;*/
    position: fixed;
    top:0;
    display: flex;
    box-sizing: border-box;
    height: 70px;
    width: calc(100% - 230px);
    font-size: small;
    background-color: black;
    opacity: 0.8;
    z-index: 2;
}
.badge{
    width: 60px;
    height: 100%;
    background-color: rgba(234,134,46,0.99);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}
.roof{
    width: 100%;
    position: relative;
    transform: rotate(180deg);
    bottom: -17px;
;
}
.l1{
    font-size: 14px;
}
.l2{
    font-size: 17px;
}
.header{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: white;
    height: 100%;
    width: 92%;
    padding-left: 15px;
    padding-right: 15px;
}
.sign-in1, .sign-in2{
    /*margin: -10px;*/
    float: right;
    width: 70px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.sign-in2{
    display: none;
}
.button{
    color: white;
    background: linear-gradient(to bottom, rgba(234, 168, 6, 0.99), #F2711D);
    border: 1px solid #F2711D;
    border-radius: 5px;
}

hr{
    margin: 0;
    color: darkgrey;
}
.labelInHead span{
    color: darkgrey;
}
.labelInHead{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 14px;
}
.information{
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 50%;
    border-bottom: 1px solid lightgray;
}
.pizza{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

}
.caption{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width:calc(100%- 230px);

}
.all{
    font-size: 20px;
    font-weight: bold;
}
.amount {
    background-color: rgba(253,174,26,0.99);
    color: white;
    display: inline-block;
    text-align: center;
}
.circle{
    width: 20px;
    height:20px;
    margin-left: 5px;
    border-radius: 50%;
}
.remove{
    background-color: red;
    margin-right: 2px;
    color: white;
    font-weight: bold;
    padding: 1px;
    text-align: center;
    display: inline-block;
    border-color: red;
    border-bottom: solid 2px rgba(182, 7, 6, 0.99);
}
.delete{
    background: linear-gradient(to bottom, white,  rgba(238,235,224,0.99));
    color: #F2711D;
    font-weight: bold;
    padding: 1px;
    text-align: center;
    display: inline-block;
    border-color: lightgray;
    border-bottom: solid 2px darkgrey;

}
.add{
    background-color: rgba(28,180,80,0.99);
    color: white;
    font-weight: bold;
    padding: 1px;
    display: inline-block;
    text-align: center;
    border-color: rgba(28,180,80,0.99);
    border-bottom: solid 2px rgba(27,138,86,0.99) ;
}
.typeList{
    display: flex;
    justify-content: center;
    /*box-sizing: border-box;*/
    align-items: center;
    font-size: 70%;
    width:100%;

}
.typeList span{
    margin-right: 1%;
    padding: 0.7%;
    color: rgba(253,174,26,0.99);
}
span.highlightedType {
    background-color: rgba(253,174,26,0.99);
    color: white;
    border-radius: 4px;
}
.pizzaList{
    margin-top: 15px;
    margin-left: 2.5%;
    width:95%;
    display: grid;
    box-sizing: border-box;
    gap: 3%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 50px;
}
.pizzaItem{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: -20px;
    z-index: 1;
}
.status{
    position: absolute;
    font-size: 12px;
    right: -2%;
    top:-10px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    padding: 3px;
}
.new{

    background-color: rgba(238,92,69,0.99);
}
.popular{
    background-color: rgba(132,238,131,0.99);

}
.imagePizza{
    display: flex;
    justify-content: center;
}

.name{
    font-weight: bold;
    margin-left: 5px;
    display: block;
    color:#F2711D;
    font-size: 17px;
}
.type{
    display: block;
    color:#b1afaf;
    font-size:10px;
    margin-left: 5px;
}
.content{
    display: block;
    margin-left: 2px;
    font-size:13px;
    width:95%;
}
.properties{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.prop{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.sizing{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.buy{

    margin-bottom:3px;
}
.price{
    font-size: 15px;
    font-weight: bold;

}
.priceCurrency{
    font-size: 11px;
    margin-bottom: 2px;
}
.footRoof{
    position: fixed;
    width: 80px;
    height: 90px;
    font-weight: bold;
    color: white;
    left: 15px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 0;
    box-sizing: border-box;
    border-right: 1px solid #CE7524;
    border-left: 1px solid #CE7524;
    background: linear-gradient(to top,  rgba(234,115,36,0.99), rgba(234,134,46,0.99));
    z-index: 4;
}
.imgFootRoof{
    width: 80px;
    position:relative;
    bottom:8px;
    left: -10.3px;
}
.projectInfo {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b1afaf;
    font-size: 11px;
    background: linear-gradient(to bottom, white  , lightgray );
}
.listBought{
    align-items: baseline;
    background-color: rgba(252,252,254,0.99);
    height:468px;
    overflow: auto;
    overflow-x: hidden;
}
.basketTitle{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;

}
.title{
    font-size: 18px;
    font-weight: bold;

}
.clear{
    font-size: 8px;
    width: 50px;
    border:none;
    color: darkgrey;
    background-color: white;

}
.listItem{
    display: flex;
    background-color: rgba(252,252,254,0.99);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: -22px;
    padding-bottom: 2px ;
    border-bottom: 1px solid darkgrey;
}
.liName{
    color: #F2711D;

}
.sizingBought{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
}
.sizingBought label{
   margin-left: -2px;
    margin-right: 6px;
}
.info{
    flex-direction: column;
    width: 80%;
    margin-left: 5px;
    justify-content: left;
}
.boughtPrice{
    font-weight: bold;
    font-size: 12px;
}
.order{
    background-color: white;
}
.valley{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.sum{
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}
.value{
    font-weight: bold;
    margin-right: 10px;
}
.toOrder{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.scale{
    padding: 5px;
}
/*.purse{*/
/*    justify-content: space-between;*/
/*}*/

@media (max-width: 965px) {
    .сost{
        display: none;
    }
}
@media (max-width: 740px) {
    .schedule{
        display: none;
    }
    .pizzaList{
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 560px) {
    .label{
        display: none;
    }
    .sign-in1{
        display: none;
    }
    .sign-in2{
        display: flex;
    }
    .typeList{
        font-size: 50%;
    }
    .pizza{
        justify-content: flex-end;
    }
    .pizzaList{
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 468px) {
    .market{
        width:55%;
    }
    .basket{
        min-width: 178px;
        width:45%;
    }
    .menu{
        width: 55%;
    }
}
@media (max-width: 412px) {
    body{
        min-width: 412px;
    }
    .basket{
        position: static;
    }
    .menu{
        position: static;
        width: 100%;
    }
    .caption{
        margin-top: 3px;
    }
}
